body{
    margin: 0;
    background: #FAF1CB;
}

/* a태그 아래 줄 없애기 */
a {
    text-decoration: none;
  }

header{
    height: 70px;
    background: #FEF01B;
    
}

#top_bar{
    display: flex;
}

#side_nav_btn{
    text-align: center;
    
    margin: 20px 20px 20px 20px;

    /* 커서의 속성을 바꿈 */
    cursor:pointer;

    font-size:25px;
    color:#005247;
        
}
#profile{
    width: 1300px;
    text-align: right;
    color:#005247;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    margin: 20px 20px 20px 20px;
}

#Calendarium{
    width: 324px;
    height: 70px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-size: 48px;

    color: #005247;
}

.sidenav {
    height: 100%;
    width: 0;

    position: fixed;
    z-index: 1;
    top: 70px;
    
    background-color:#FEF01B;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
  }
  
.sidenav #nav_close {
    /* 위 오 아 왼 */
    padding: 8px 8px 8px 32px;
    
    font-size: 30px;
    color: #005247;
    /* 애니메이션 속도 조절 */
    transition: 0.3s;
 }
.department{
    margin-top: 10px;
    margin-left: 20px;
}
#develope_department{
    margin-top: 10px;
    margin-left: 20px;
}
#education_department{
    margin-top: 10px;
    margin-left: 20px;
}
#marketing_department{
    margin-top: 10px;
    margin-left: 20px;
}
.sidenav .department_box{
    
    color: #005247;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
}
.sidenav #develope_department_box{
    
    color: #005247;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
}
.sidenav #education_department_box{
    
    color: #005247;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
}
.sidenav #marketing_department_box{
    
    color: #005247;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
}
  /* .sidenav a:hover {
    color: #f1f1f1;
  } */
  
 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* 미디어쿼리 */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
 /* 미디어 쿼리 적용
 두개의 css를 html 에 임포트 */
  #team{
    width: 106px;
    height: 20px;
    /* left: 36px; */
    padding: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    margin-left: 100px;
    border: 0;
    outline: 0;
    background: #FEF01B;
/* identical to box height */

    color: #005247;
}

#calendar_year_month{
    width: 131px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;

    color: #005247;
}
.year_month_change{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;

    color: #005247;
    
}
.year_month_change_btn{
    background: #FAF1CB;
    color: #005247;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    border: 0;
}

#calendar{
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin: 20px 60px 20px 60px;
}
.calendar_box{
    height: 40px;
    display: flex;
}

#calendar_box_line{
    /* hr 태그 가운데 정렬 */
    margin: auto;    
    width: 95%;
    text-align: center;
    border: 2px solid #005247;
}



#add_todo{
height: 56px;
}
.todo_box{
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    margin: 20px 60px 20px 60px;
    /* justify-content: space-around; */
}
.todo_date_content{
    display: flex;

}
.time{
    width: 120px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    padding: 12px 0px 12px 0px;
    
    color: #005247;
}
.todo_content{
    width: 1000px;
    height: 16px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
    padding: 12px 0px 12px 0px;
    
    color: #767676;
    
    }
.day{
    /* 18일 */
width: 60px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 28px;
padding: 6px 0px 6px 0px;
margin: 20px 60px 20px 60px;
color: #005247;
}


#add_btn{
    background: #FAF1CB;
    color: #005247;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    border: 0;
}

#add_todo_box{
    display: none;

    justify-content: space-between;
    margin: 20px 60px 20px 60px;
}

.edit_delete_btn{

    width: 60px;
    height: 40px;
    text-align: center;
    padding: 0px 0px 24px 0px;
}

#write_btn{
    width: 20px;
    
    background: #FAF1CB;
    color: #005247;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    border: 0;
}

#cancle_btn{
    width: 30px;

    background: #FAF1CB;
    color: #005247;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    border: 0;


}

#add_todo_date_content{
    display: flex;

}
#add_todo_content{
    width: 1170px;
    height: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
    padding: 12px 0px 12px 0px;
    /* border: 0; */
    outline: 0;
    color: #767676;
    background-color: #FAF1CB;
    border: 0;
    border-bottom: 2px dotted #005247;
    }

#date{
    height: 40px;
    border: 0;
    background-color: #FAF1CB;
}
#ampm{
    height: 40px;
    border: 0;
    background-color: #FAF1CB;
}
#hour{
    height: 40px;
    border: 0;
    background-color: #FAF1CB;
}
#minute{
    height: 40px;
    border: 0;
    background-color: #FAF1CB;
}
#edit_delete_btn{
    width: 60px;
    height: 40px;
    text-align: center;
    /* padding: 12px 0px 12px 0px; */
}

@media screen and (max-width:1600px) {
    #add_todo_date_content{
        width: 90%;
    }
    #edit_delete_btn{
        width: 90%;
    }
}
@media screen and (max-width:700px) {
    #add_todo_date_content{
        width: 70%;
    }
    #edit_delete_btn{
        width: 70%;
    }
}